<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type='text/javascript' src="../assets/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="../assets/style.css" rel="stylesheet" type="text/css">
    <!--Tv4 Validation-->
    <script src="../jsonSchemaValidations/tv4/tv4.js"></script>
    <!--Validation script-->
    <script src="../js/myApp.js"></script>
    <script src="../js/jsonSchema.js"></script>
    <title>JSON Validation</title>
</head>
<body ng-app="MyApp">
<h1><strong>JSON Validation</strong></h1>
<h5>Using <a href="https://github.com/geraintluff/tv4">Tiny Validator</a> tool (for <a href="http://json-schema.org/latest/json-schema-core.html">v4 JSON Schema</a>).</h5>
<div ng-controller="MyAppCtrl">
    <div ng-controller="startValidation">
        <div class="btn-toolbar btn-group-sm">
            <button class="btn btn-warning" ng-click="clearFields()">Clear Fields</button>
            <button class="btn btn-success" ng-click="setJsonValidation(); tv4Validation()">Validate</button>
            <button class="btn btn-success" ng-click="setSchema(); setInput()">Insert Sample</button>
        </div>
        <strong>
            <div ng-include="'schemaValidation/validationResult.html'"></div>
        </strong>
        <fieldset class="scheduler-border">
            <div class="row">
                <div>
                    <legend></legend>
                    <fieldset id="json_properties">
                        <label id="json_label" class="value_label">JSON Schema</label>
                        <textarea name="jsonTextArea" placeholder="Insert JSON schema"
                                  ng-class="getSchemaBackground()" ng-model="selectedSchemaText"></textarea>
                    </fieldset>
                </div>
                <div>
                    <fieldset id="schema_properties">
                        <legend></legend>
                        <label id="schema_label" class="value_label">JSON Input</label>
                        <textarea id="jsonTextArea" ng-class="getInputBackground()"
                                  placeholder="Insert JSON text" ng-model="jsonText"></textarea>
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</body>
</html>